<footer>
    <div class="f-info">
        <div class="f-info-socials">

        </div>
        <div>Travel Private Limited</div>
        <div class="f-info-liks">
            <a>Privacy</a>
            <a>Terms</a>
        </div>
    </div>
</footer>