<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelling</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input name="title" placeholder="enter title" type="text">
    </form>
</body>
</html>