body {
    background-color: aqua;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-tree {
    color: #2A7E19;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-likns a {
    text-decoration: none;
    color: #222222;
}

.f-info-likns a:hover {
    text-decoration: underline;
}

.f-info-likns {
    width: 100%;
}

.f-info-socials {
    width: 100%;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}